

.sidebarFriend{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.sidebarFriendImg{
    width: 38px;
    height: 38px;
    object-fit: cover;
    margin-right: 15px;
    margin-top: 5px;
    border-radius: 50%;
}